
.App {
  text-align: center;
}

header {
  background-color: #333;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
